//Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

//Colores
$color-primary: white;
$color-secondary: black;
$color-button-first: #189b5c; 
$color-button-second: #f78bd8; 
$color-button-viewed: #0f0f0f;